:host {
  display: grid;
  padding: 16px 20px 0 20px;
  grid-template-rows: 1fr min-content;
  overflow-y: auto;
}

.messages-wrapper {
  display: grid;
  grid-gap: 12px;
  padding-bottom: 16px;
}

.date-text {
  padding: 6px 26px;
  margin: 0 auto;
  height: fit-content;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--light-color);
  background: var(--dark-hover-color);
  border-radius: 1px;
}
