<form
  [formGroup]="form"
  class="login-form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="h1 login-form__title">Вход</h1>
  <label class="tt-controll-label">
    Telegramm username
    <input
      formControlName="username"
      class="tt-input"
      type="text"
      placeholder="Введите логин"
    >
  </label>
  <label class="tt-controll-label">
    Password
    <input
      formControlName="password"
      class="tt-input"
      type="text"
      placeholder="Введите пароль"
    >
  </label>
  <button class="btn btn-shadow login-form__btn" type="submit">Войти</button>
</form>
<img src="" alt="logo">
